:root {
  --background-color: #18292b;
  --text-color: #C5C6C7;
  --main-color: #66FCF1;
  --highlight-color: #ce9a4cde;

  --text-color-headlines: var(--main-color);
  --nav-active-color: var(--main-color);

  --font-family-body: Helvetica, Arial, sans-serif;
  --font-family-monospace: "Audiowide", "Courier New", Courier, monospace;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  margin: 0% auto;
  width: 70%;
  border: 2px solid var(--main-color);
  padding: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}

body {
  font-family: var(--font-family-body);
  color: var(--text-color);
  font-size: 1.125rem;
  background-color: var(--background-color);
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

p {
  font-size: 1.3rem;
  text-align: center;
}

b {
  color: var(--main-color);
}

section {
  margin: 0% auto;
  width: 60%;
  border: 2px solid var(--main-color);
  padding: 6%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.nav {
  font-family: var(--font-family-monospace);
  text-align: right;
  font-size: 1.4rem;
}

.nav-link {
  color: var(--text-color-headlines);
  margin: 0 10px;
}

.nav-link:hover {
  color: var(--highlight-color);
}

.header {
  font-family: var(--font-family-monospace);
  color: var(--text-color-headlines);
  text-align: center;
  margin: 10px;
}

.canvas {
  background-color: var(--main-color);
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
}

.game-description {
  font-family: var(--font-family-monospace);
  color: var(--text-color-headlines);
  text-align: center;
  position: relative;
  font-size: 1.3rem;
  margin: 0 auto;
}

.bullet-point {
  font-size: 1.3rem;
}

.footer-bullet-point {
  list-style-type: "@ ";
}

